/* margin: t;r;b;l; */

.lineArrivalsFilter {
  list-style-type: none;
}

.btn_plain {
  background-color: #99999922;
  background-repeat: no-repeat;
  border: none;
  text-decoration: none;
  overflow: hidden;
  outline: 1px;
}