<div>
  <p>Stations</p>
  <!-- -->
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <form>
          <label for="stationNameFilter">Filter:</label>
          <input style="width: 6em" type="text" name="stationNameFilter" [ngModel]="filter" (ngModelChange)="filterDidChange($event)">
        </form>
      </div>
      <div class="col-sm">
        <select style="width: 12em" class="list-group" [(ngModel)]='selectedNaptanId' (ngModelChange)="naptanDidChange()">
          <option *ngFor='let naptan of filteredNaptans' [value]="naptan.id">{{ naptan.name }}</option>
        </select>
      </div>
    </div>
  </div>
  <!-- -->
  <p>
    <button (click)="refreshArrivals()">Refresh</button>
  </p>
  <!-- -->
  <div>
    <div *ngFor="let line of linesSel(0,3)" style="display:inline" (click)="toggleFilterLine(line)" class="lineArrivalsFilter"
      [ngClass]="getClassByLine(line)">
      <button (click)="soloLine(line)">s&nbsp;</button>
      <span [hidden]="!isLineFiltered(line)">x&nbsp;</span>{{ line }}
    </div>
  </div>
  <div>
    <div *ngFor="let line of linesSel(3,6)" style="display:inline" (click)="toggleFilterLine(line)" class="lineArrivalsFilter"
      [ngClass]="getClassByLine(line)">
      <button (click)="soloLine(line)">s&nbsp;</button>
      <span [hidden]="!isLineFiltered(line)">x&nbsp;</span>{{ line }}
    </div>
  </div>
  <div>
    <div *ngFor="let line of linesSel(6,9)" style="display:inline" (click)="toggleFilterLine(line)" class="lineArrivalsFilter"
      [ngClass]="getClassByLine(line)">
      <button (click)="soloLine(line)">s&nbsp;</button>
      <span [hidden]="!isLineFiltered(line)">x&nbsp;</span>{{ line }}
    </div>
  </div>
  <div>
    <div *ngFor="let line of linesSel(9,12)" style="display:inline" (click)="toggleFilterLine(line)" class="lineArrivalsFilter"
      [ngClass]="getClassByLine(line)">
      <button (click)="soloLine(line)">s&nbsp;</button>
      <span [hidden]="!isLineFiltered(line)">x&nbsp;</span>{{ line }}
    </div>
  </div>
  <div>
    <div *ngFor="let line of linesSel(12,15)" style="display:inline" (click)="toggleFilterLine(line)" class="lineArrivalsFilter"
      [ngClass]="getClassByLine(line)">
      <button (click)="soloLine(line)">s&nbsp;</button>
      <span [hidden]="!isLineFiltered(line)">x&nbsp;</span>{{ line }}
    </div>
  </div>
  <!-- -->
  <ul style="overflow-y: auto; height: 10em;">
    <li *ngFor='let arrival of arrivals' (click)="selectArrival(arrival)" [ngClass]="getClassByLine(arrival.lineId)">
      {{ shortenedDestination(arrival.destinationName) }} - {{ toMinutes(arrival) }}
      <br>
      <small>{{ arrival.currentLocation }}</small>
    </li>
  </ul>
</div>