<div>
  <label for="stationInput">Station:</label>
  <input id="quick_route_station_input" name="stationInput" type="text"
     (keyup.enter)="onStationEnter($event)"
     (keyup)="onStationKeyUp($event)"
     (keydown.arrowup)="incrementRouteIndex($event, 1)"
     (keydown.arrowdown)="incrementRouteIndex($event, -1)"
     >
  <span>{{ foundStation }}&nbsp;</span>
  <span>{{ proposedLine }}&nbsp;</span>
  <span>({{ routeIndex }})&nbsp;</span>
  <button (click)="popLastStation()">Pop</button>
  <p>
    <ng-container *ngFor="let ls of lineStations;">
      <span *ngIf="ls.line!=null">-{{ ls.line }}-&nbsp;</span>
      <span>{{ ls.station }}&nbsp;</span>
    </ng-container>
  </p>
</div>
<app-places-svg></app-places-svg>