<p>Places</p>
<form>
  <label for="vehicleId">Vehicle Id:</label>
  <input style="width: 40px" name="vehicleId" type="text" [ngModel]="pendingVehicleId" (ngModelChange)="vehicleIdDidChange($event)">
  <label for="line">Line:</label>
  <input style="width: 100px" name="line" type="text" [ngModel]="pendingLine" (ngModelChange)="lineDidChange($event)">
  <button (click)="setVehicleId()">Set Vehicle</button>
</form>
<ul style="overflow-y: auto; height: 10em;">
  <li *ngFor='let where of passenger.wheres'>
    {{ where }}
  </li>
</ul>