<div>
</div>
<div>
<button (click)="plus()">+</button>
<button (click)="minus()">-</button>
</div>
<svg height="1720" width="2500" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
<g [attr.style]="style" [attr.transform]="transform">
<text [attr.style]="textStyle('Acton Town')" x="436.0" y="985.0">ACT</text>
<text [attr.style]="textStyle('Aldgate East')" x="1653.0" y="732.0">ADE</text>
<text [attr.style]="textStyle('Aldgate')" x="1591.5" y="745.5">ALD</text>
<text [attr.style]="textStyle('Alperton')" x="372.0" y="754.0">ALP</text>
<text [attr.style]="textStyle('Amersham')" x="90.0" y="272.5">AMS</text>
<text [attr.style]="textStyle('Angel')" x="1418.0" y="605.0">AGL</text>
<text [attr.style]="textStyle('Archway')" x="1062.0" y="373.5">ACY</text>
<text [attr.style]="textStyle('Arnos Grove')" x="1236.0" y="221.0">ASG</text>
<text [attr.style]="textStyle('Arsenal')" x="1356.0" y="410.5">ASL</text>
<text [attr.style]="textStyle('Baker Street')" x="1053.0" y="732.0">BST</text>
<text [attr.style]="textStyle('Balham')" x="1160.5" y="1244.0">BLM</text>
<text [attr.style]="textStyle('Bank')" x="1465.0" y="759.0">BNK</text>
<text [attr.style]="textStyle('Barbican')" x="1444.0" y="681.0">BBN</text>
<text [attr.style]="textStyle('Barking')" x="2173.0" y="568.0">BKG</text>
<text [attr.style]="textStyle('Barkingside')" x="2123.0" y="294.0">BKE</text>
<text [attr.style]="textStyle('Barons Court')" x="705.0" y="1090.4">BSC</text>
<text [attr.style]="textStyle('Bayswater')" x="875.0" y="864.0">BWT</text>
<text [attr.style]="textStyle('Becontree')" x="2231.0" y="526.5">BEC</text>
<text [attr.style]="textStyle('Belsize Park')" x="1010.0" y="502.0">BZP</text>
<text [attr.style]="textStyle('Bermondsey')" x="1590.0" y="896.0">BMY</text>
<text [attr.style]="textStyle('Bethnal Green')" x="1655.0" y="639.0">BLG</text>
<text [attr.style]="textStyle('Blackfriars')" x="1362.0" y="834.0">BKF</text>
<text [attr.style]="textStyle('Blackhorse Road')" x="1602.0" y="292.0">BLR</text>
<text [attr.style]="textStyle('Bond Street')" x="1095.0" y="811.0">BND</text>
<text [attr.style]="textStyle('Borough')" x="1491.0" y="934.0">BOR</text>
<text [attr.style]="textStyle('Boston Manor')" x="300.0" y="1030.5">BOS</text>
<text [attr.style]="textStyle('Bounds Green')" x="1266.0" y="243.5">BDS</text>
<text [attr.style]="textStyle('Bow Road')" x="1893.0" y="653.0">BWR</text>
<text [attr.style]="textStyle('Brent Cross')" x="838.0" y="412.0">BTX</text>
<text [attr.style]="textStyle('Brixton')" x="1317.0" y="1162.0">BXN</text>
<text [attr.style]="textStyle('Bromley-by-Bow')" x="1963.0" y="657.5">BBB</text>
<text [attr.style]="textStyle('Buckhurst Hill')" x="1914.0" y="220.0">BKH</text>
<text [attr.style]="textStyle('Burnt Oak')" x="748.0" y="344.5">BTK</text>
<text [attr.style]="textStyle('Caledonian Road')" x="1302.0" y="482.0">CAR</text>
<text [attr.style]="textStyle('Camden Town')" x="1180.0" y="502.0">CTN</text>
<text [attr.style]="textStyle('Canada Water')" x="1694.0" y="893.0">CWR</text>
<text [attr.style]="textStyle('Canary Wharf')" x="1901.0" y="864.0">CYF</text>
<text [attr.style]="textStyle('Canning Town')" x="2046.0" y="760.0">CGT</text>
<text [attr.style]="textStyle('Cannon Street')" x="1426.0" y="772.0">CST</text>
<text [attr.style]="textStyle('Canons Park')" x="663.0" y="396.0">CPK</text>
<text [attr.style]="textStyle('Chalfont &amp; Latimer')" x="131.5" y="304.0">CAL</text>
<text [attr.style]="textStyle('Chalk Farm')" x="1090.0" y="502.0">CFM</text>
<text [attr.style]="textStyle('Chancery Lane')" x="1330.0" y="739.0">CHL</text>
<text [attr.style]="textStyle('Charing Cross')" x="1277.0" y="881.0">CHX</text>
<text [attr.style]="textStyle('Chesham')" x="136.0" y="242.0">CSM</text>
<text [attr.style]="textStyle('Chigwell')" x="2026.0" y="197.0">CWL</text>
<text [attr.style]="textStyle('Chiswick Park')" x="465.0" y="1014.0">CWP</text>
<text [attr.style]="textStyle('Chorleywood')" x="161.5" y="326.5">CYD</text>
<text [attr.style]="textStyle('Clapham Common')" x="1220.5" y="1199.0">CPC</text>
<text [attr.style]="textStyle('Clapham North')" x="1244.5" y="1181.0">CPN</text>
<text [attr.style]="textStyle('Clapham South')" x="1190.5" y="1221.5">CPS</text>
<text [attr.style]="textStyle('Cockfosters')" x="1146.0" y="153.5">CKS</text>
<text [attr.style]="textStyle('Colindale')" x="778.0" y="367.0">CND</text>
<text [attr.style]="textStyle('Colliers Wood')" x="1070.5" y="1311.5">CSD</text>
<text [attr.style]="textStyle('Croxley')" x="234.0" y="334.0">CXY</text>
<text [attr.style]="textStyle('Dagenham East')" x="2291.0" y="481.5">DGE</text>
<text [attr.style]="textStyle('Dagenham Heathway')" x="2261.0" y="504.0">DGY</text>
<text [attr.style]="textStyle('Debden')" x="1914.0" y="160.0">DBN</text>
<text [attr.style]="textStyle('Dollis Hill')" x="741.0" y="530.0">DOH</text>
<text [attr.style]="textStyle('Ealing Broadway')" x="340.0" y="896.0">EBY</text>
<text [attr.style]="textStyle('Ealing Common')" x="395.0" y="953.0">ECM</text>
<text [attr.style]="textStyle('Earl\'s Court')" x="871.0" y="1090.4">ECT</text>
<text [attr.style]="textStyle('East Acton')" x="580.0" y="897.9">EAN</text>
<text [attr.style]="textStyle('East Finchley')" x="1024.0" y="320.0">EFY</text>
<text [attr.style]="textStyle('East Ham')" x="2141.0" y="588.0">EHM</text>
<text [attr.style]="textStyle('East Putney')" x="872.0" y="1256.0">EPY</text>
<text [attr.style]="textStyle('Eastcote')" x="260.0" y="520.0">EAE</text>
<text [attr.style]="textStyle('Edgware Road (Bakerloo)')" x="961.0" y="540.0">ERB</text>
<text [attr.style]="textStyle('Edgware Road (Circle Line)')" x="951.0" y="550.0">ERC</text>
<text [attr.style]="textStyle('Edgware')" x="718.0" y="322.0">EGW</text>
<text [attr.style]="textStyle('Elephant &amp; Castle')" x="1490.0" y="972.0">EAC</text>
<text [attr.style]="textStyle('Elm Park')" x="2321.0" y="459.0">EPK</text>
<text [attr.style]="textStyle('Embankment')" x="1282.0" y="899.0">EMB</text>
<text [attr.style]="textStyle('Epping')" x="1914.0" y="100.0">EPG</text>
<text [attr.style]="textStyle('Euston Square')" x="1211.0" y="621.0">ESQ</text>
<text [attr.style]="textStyle('Euston')" x="1215.0" y="566.0">EUS</text>
<text [attr.style]="textStyle('Fairlop')" x="2123.0" y="270.0">FLP</text>
<text [attr.style]="textStyle('Farringdon')" x="1376.0" y="697.0">FCN</text>
<text [attr.style]="textStyle('Finchley Central')" x="994.0" y="297.5">FYC</text>
<text [attr.style]="textStyle('Finchley Road')" x="957.0" y="572.0">FYR</text>
<text [attr.style]="textStyle('Finsbury Park')" x="1375.0" y="387.0">FPK</text>
<text [attr.style]="textStyle('Fulham Broadway')" x="819.0" y="1164.0">FBY</text>
<text [attr.style]="textStyle('Gants Hill')" x="2031.0" y="341.0">GTH</text>
<text [attr.style]="textStyle('Gloucester Road')" x="1020.3" y="1088.0">GTR</text>
<text [attr.style]="textStyle('Golders Green')" x="868.0" y="434.5">GGN</text>
<text [attr.style]="textStyle('Goldhawk Road')" x="651.5" y="1008.9">GHK</text>
<text [attr.style]="textStyle('Goodge Street')" x="1175.0" y="654.0">GDG</text>
<text [attr.style]="textStyle('Grange Hill')" x="2071.0" y="197.0">GGH</text>
<text [attr.style]="textStyle('Great Portland Street')" x="1101.0" y="647.0">GPS</text>
<text [attr.style]="textStyle('Green Park')" x="1142.0" y="874.0">GPK</text>
<text [attr.style]="textStyle('Greenford')" x="214.0" y="721.9">GFD</text>
<text [attr.style]="textStyle('Gunnersbury')" x="439.0" y="1032.0">GBY</text>
<text [attr.style]="textStyle('Hainault')" x="2123.0" y="246.0">HLT</text>
<text [attr.style]="textStyle('Hammersmith (H&C Line)')" x="647.0" y="847.0">HSC</text>
<text [attr.style]="textStyle('Hammersmith (Dist&Picc Line)')" x="660.0" y="1090.4">HSD</text>
<text [attr.style]="textStyle('Hampstead')" x="898.0" y="457.0">HTD</text>
<text [attr.style]="textStyle('Hanger Lane')" x="360.0" y="824.4">HGR</text>
<text [attr.style]="textStyle('Harlesden')" x="649.0" y="653.5">HSN</text>
<text [attr.style]="textStyle('Harrow &amp; Wealdstone')" x="543.5" y="440.0">HAW</text>
<text [attr.style]="textStyle('Harrow-on-the-Hill')" x="470" y="515.0">HOH</text>
<text [attr.style]="textStyle('Hatton Cross')" x="170.0" y="1160.0">HNX</text>
<text [attr.style]="textStyle('Heathrow Terminal 4')" x="115.0" y="1203.0">HR4</text>
<text [attr.style]="textStyle('Heathrow Terminal 5')" x="30.0" y="1187.5">HR5</text>
<text [attr.style]="textStyle('Heathrow Terminals 2 &amp; 3')" x="96.0" y="917.0"></text>
<text [attr.style]="textStyle('Hendon Central')" x="808.0" y="389.5">HCL</text>
<text [attr.style]="textStyle('High Barnet')" x="864.0" y="200.0">HBT</text>
<text [attr.style]="textStyle('High Street Kensington')" x="918.0" y="993.5">HSK</text>
<text [attr.style]="textStyle('Highbury &amp; Islington')" x="1426.0" y="522.0">HAI</text>
<text [attr.style]="textStyle('Highgate')" x="1054.0" y="342.5">HGT</text>
<text [attr.style]="textStyle('Hillingdon')" x="60.0" y="481.0">HGD</text>
<text [attr.style]="textStyle('Holborn')" x="1284.0" y="714.0">HBN</text>
<text [attr.style]="textStyle('Holland Park')" x="806.0" y="945.0">HPK</text>
<text [attr.style]="textStyle('Holloway Road')" x="1326.0" y="433.0">HWY</text>
<text [attr.style]="textStyle('Hornchurch')" x="2331.0" y="419.5">HCH</text>
<text [attr.style]="textStyle('Hounslow Central')" x="230.0" y="1115.0">HWC</text>
<text [attr.style]="textStyle('Hounslow East')" x="240.0" y="1075.5">HWE</text>
<text [attr.style]="textStyle('Hounslow West')" x="200.0" y="1137.5">HWT</text>
<text [attr.style]="textStyle('Hyde Park Corner')" x="1102.6" y="924.0">HPC</text>
<text [attr.style]="textStyle('Ickenham')" x="100.0" y="520.0">ICK</text>
<text [attr.style]="textStyle('Kennington')" x="1394.5" y="1068.5">KNG</text>
<text [attr.style]="textStyle('Kensal Green')" x="715.0" y="700.0">KSL</text>
<text [attr.style]="textStyle('Kensington (Olympia)')" x="818.0" y="1010.0">KOY</text>
<text [attr.style]="textStyle('Kentish Town')" x="1140.0" y="414.0">KSH</text>
<text [attr.style]="textStyle('Kenton')" x="543.5" y="478.0">KEN</text>
<text [attr.style]="textStyle('Kilburn Park')" x="779.0" y="751.0">KPK</text>
<text [attr.style]="textStyle('King\'s Cross St. Pancras')" x="1295.0" y="553.0">KSX</text>
<text [attr.style]="textStyle('Kingsbury')" x="663.0" y="456.0">KBY</text>
<text [attr.style]="textStyle('Knightsbridge')" x="1102.6" y="970.0">KNB</text>
<text [attr.style]="textStyle('Ladbroke Grove')" x="699.5" y="884.5">LAD</text>
<text [attr.style]="textStyle('Lambeth North')" x="1420.0" y="989.0">LBN</text>
<text [attr.style]="textStyle('Lancaster Gate')" x="986.0" y="873.5">LGT</text>
<text [attr.style]="textStyle('Latimer Road')" x="642.5" y="876.0">LRD</text>
<text [attr.style]="textStyle('Leicester Square')" x="1269.0" y="799.0">LSQ</text>
<text [attr.style]="textStyle('Leyton')" x="1937.0" y="426.5">LYN</text>
<text [attr.style]="textStyle('Leytonstone')" x="1935.0" y="364.0">LYS</text>
<text [attr.style]="textStyle('Liverpool Street')" x="1564.0" y="656.0">LVT</text>
<text [attr.style]="textStyle('London Bridge')" x="1485.0" y="893.0">LNB</text>
<text [attr.style]="textStyle('Loughton')" x="1914.0" y="190.0">LGN</text>
<text [attr.style]="textStyle('Maida Vale')" x="805.0" y="770.5">MVL</text>
<text [attr.style]="textStyle('Manor House')" x="1370.5" y="364.0">MRH</text>
<text [attr.style]="textStyle('Mansion House')" x="1402.0" y="802.0">MSH</text>
<text [attr.style]="textStyle('Marble Arch')" x="1038.0" y="847.5">MBA</text>
<text [attr.style]="textStyle('Marylebone')" x="991.0" y="717.5">MYB</text>
<text [attr.style]="textStyle('Mile End')" x="1816.0" y="663.5">MED</text>
<text [attr.style]="textStyle('Mill Hill East')" x="913.0" y="311.0">MHL</text>
<text [attr.style]="textStyle('Monument')" x="1459.0" y="806.0">MMT</text>
<text [attr.style]="textStyle('Moor Park')" x="249.0" y="360.0">MPK</text>
<text [attr.style]="textStyle('Moorgate')" x="1484.0" y="687.0">MGT</text>
<text [attr.style]="textStyle('Morden')" x="990.5" y="1349.5">MDN</text>
<text [attr.style]="textStyle('Mornington Crescent')" x="1213.0" y="529.0">MTC</text>
<text [attr.style]="textStyle('Neasden')" x="681.0" y="530.0">NDN</text>
<text [attr.style]="textStyle('Newbury Park')" x="2076.0" y="294.0">NBP</text>
<text [attr.style]="textStyle('North Acton')" x="491.0" y="882.0">NAN</text>
<text [attr.style]="textStyle('North Ealing')" x="372.0" y="874.0">NEN</text>
<text [attr.style]="textStyle('North Greenwich')" x="2000.0" y="869.0">NGW</text>
<text [attr.style]="textStyle('North Harrow')" x="369.0" y="450.0">NHA</text>
<text [attr.style]="textStyle('North Wembley')" x="565.0" y="590.5">NWY</text>
<text [attr.style]="textStyle('Northfields')" x="330.0" y="1008.0">NFD</text>
<text [attr.style]="textStyle('Northolt')" x="148.0" y="672.4">NHT</text>
<text [attr.style]="textStyle('Northwick Park')" x="521.5" y="515.0">NKP</text>
<text [attr.style]="textStyle('Northwood Hills')" x="309.0" y="405.0">NWH</text>
<text [attr.style]="textStyle('Northwood')" x="279.0" y="382.5">NOW</text>
<text [attr.style]="textStyle('Notting Hill Gate')" x="869.0" y="904.5">NHG</text>
<text [attr.style]="textStyle('Oakwood')" x="1176.0" y="176.0">OAK</text>
<text [attr.style]="textStyle('Old Street')" x="1455.0" y="629.0">ODS</text>
<text [attr.style]="textStyle('Osterley')" x="270.0" y="1053.0">OSY</text>
<text [attr.style]="textStyle('Oval')" x="1346.5" y="1104.5">OVL</text>
<text [attr.style]="textStyle('Oxford Circus')" x="1164.0" y="778.0">OXC</text>
<text [attr.style]="textStyle('Paddington')" x="950.0" y="761.0">PAC</text>
<text [attr.style]="textStyle('Park Royal')" x="372.0" y="847.0">PKR</text>
<text [attr.style]="textStyle('Parsons Green')" x="830.0" y="1200.0">PSG</text>
<text [attr.style]="textStyle('Perivale')" x="294.0" y="781.9">PVL</text>
<text [attr.style]="textStyle('Piccadilly Circus')" x="1213.0" y="841.0">PCC</text>
<text [attr.style]="textStyle('Pimlico')" x="1216.0" y="1021.5">PCO</text>
<text [attr.style]="textStyle('Pinner')" x="339.0" y="427.5">PNR</text>
<text [attr.style]="textStyle('Plaistow')" x="2081.0" y="639.0">PLW</text>
<text [attr.style]="textStyle('Preston Road')" x="590.0" y="515.0">PRD</text>
<text [attr.style]="textStyle('Putney Bridge')" x="851.0" y="1228.0">PYB</text>
<text [attr.style]="textStyle('Queen\'s Park')" x="754.0" y="731.0">QPS</text>
<text [attr.style]="textStyle('Queensbury')" x="663.0" y="426.0">QBY</text>
<text [attr.style]="textStyle('Queensway')" x="930.0" y="944.9">QWY</text>
<text [attr.style]="textStyle('Ravenscourt Park')" x="587.0" y="1090.4">RVP</text>
<text [attr.style]="textStyle('Rayners Lane')" x="300.0" y="470.5">RYL</text>
<text [attr.style]="textStyle('Redbridge')" x="1996.0" y="307.0">RBG</text>
<text [attr.style]="textStyle('Regent\'s Park')" x="1088.0" y="706.0">RGP</text>
<text [attr.style]="textStyle('Richmond')" x="371.0" y="1117.9">RMD</text>
<text [attr.style]="textStyle('Rickmansworth')" x="191.5" y="349.0">RKW</text>
<text [attr.style]="textStyle('Royal Oak')" x="800.0" y="841.0">RYO</text>
<text [attr.style]="textStyle('Ruislip Gardens')" x="130.0" y="548.0">RSG</text>
<text [attr.style]="textStyle('Ruislip Manor')" x="220.0" y="468.0">RSM</text>
<text [attr.style]="textStyle('Ruislip')" x="180.0" y="520.0">RSP</text>
<text [attr.style]="textStyle('Russell Square')" x="1302.0" y="649.0">RSQ</text>
<text [attr.style]="textStyle('Seven Sisters')" x="1417.0" y="302.0">SVS</text>
<text [attr.style]="textStyle('Shepherd\'s Bush Market')" x="651.5" y="971.9">SBM</text>
<text [attr.style]="textStyle('Shepherd\'s Bush (Central)')" x="700.0" y="941.0">SBC</text>
<text [attr.style]="textStyle('Sloane Square')" x="1138.0" y="1039.0">SSQ</text>
<text [attr.style]="textStyle('Snaresbrook')" x="1914.0" y="310.0">SNB</text>
<text [attr.style]="textStyle('South Ealing')" x="360.0" y="985.5">SEA</text>
<text [attr.style]="textStyle('South Harrow')" x="372.0" y="574.0">SHH</text>
<text [attr.style]="textStyle('South Kensington')" x="1085.0" y="1017.0">SKS</text>
<text [attr.style]="textStyle('South Kenton')" x="537.0" y="569.5">SKT</text>
<text [attr.style]="textStyle('South Ruislip')" x="130.0" y="598.0">SRP</text>
<text [attr.style]="textStyle('South Wimbledon')" x="1040.5" y="1335.5">SWN</text>
<text [attr.style]="textStyle('South Woodford')" x="1914.0" y="280.0">SWF</text>
<text [attr.style]="textStyle('Southfields')" x="890.0" y="1280.0">SFS</text>
<text [attr.style]="textStyle('Southgate')" x="1206.0" y="198.5">SGT</text>
<text [attr.style]="textStyle('Southwark')" x="1390.0" y="912.0">SWK</text>
<text [attr.style]="textStyle('St. James\'s Park')" x="1220.0" y="976.0">SJP</text>
<text [attr.style]="textStyle('St. John\'s Wood')" x="985.0" y="673.5">SJW</text>
<text [attr.style]="textStyle('St. Paul\'s')" x="1400.0" y="744.0">SPU</text>
<text [attr.style]="textStyle('Stamford Brook')" x="535.0" y="1059.5">SFB</text>
<text [attr.style]="textStyle('Stanmore')" x="663.0" y="366.0">STM</text>
<text [attr.style]="textStyle('Stepney Green')" x="1765.5" y="700.5">SGN</text>
<text [attr.style]="textStyle('Stockwell')" x="1296.0" y="1137.0">SKW</text>
<text [attr.style]="textStyle('Stonebridge Park')" x="621.0" y="632.5">SGP</text>
<text [attr.style]="textStyle('Stratford')" x="1962.0" y="522.0">STD</text>
<text [attr.style]="textStyle('Sudbury Hill')" x="372.0" y="634.0">SUH</text>
<text [attr.style]="textStyle('Sudbury Town')" x="372.0" y="694.0">SUT</text>
<text [attr.style]="textStyle('Swiss Cottage')" x="947.5" y="623.5">SWC</text>
<text [attr.style]="textStyle('Temple')" x="1336.0" y="852.0">TMP</text>
<text [attr.style]="textStyle('Theydon Bois')" x="1914.0" y="130.0">THB</text>
<text [attr.style]="textStyle('Tooting Bec')" x="1130.5" y="1266.5">TBC</text>
<text [attr.style]="textStyle('Tooting Broadway')" x="1100.5" y="1289.0">TBY</text>
<text [attr.style]="textStyle('Tottenham Court Road')" x="1187.0" y="673.0">TCR</text>
<text [attr.style]="textStyle('Tottenham Hale')" x="1530.0" y="333.0">TMH</text>
<text [attr.style]="textStyle('Totteridge &amp; Whetstone')" x="894.0" y="222.5">TAW</text>
<text [attr.style]="textStyle('Tower Hill')" x="1563.0" y="806.0">TWH</text>
<text [attr.style]="textStyle('Tufnell Park')" x="1116.0" y="391.5">TFP</text>
<text [attr.style]="textStyle('Turnham Green')" x="540.0" y="1018.5">TNG</text>
<text [attr.style]="textStyle('Turnpike Lane')" x="1326.0" y="288.5">TPN</text>
<text [attr.style]="textStyle('Upminster Bridge')" x="2361.0" y="397.0">UPB</text>
<text [attr.style]="textStyle('Upminster')" x="2401.0" y="366.0">UPM</text>
<text [attr.style]="textStyle('Upney')" x="2201.0" y="549.0">UPY</text>
<text [attr.style]="textStyle('Upton Park')" x="2111.0" y="616.5">UPK</text>
<text [attr.style]="textStyle('Uxbridge')" x="20.0" y="520.0">UXB</text>
<text [attr.style]="textStyle('Vauxhall')" x="1246.0" y="1061.5">VXL</text>
<text [attr.style]="textStyle('Victoria')" x="1188.0" y="997.0">VIC</text>
<text [attr.style]="textStyle('Walthamstow Central')" x="1694.0" y="317.0">WWL</text>
<text [attr.style]="textStyle('Wanstead')" x="1940.0" y="341.0">WSD</text>
<text [attr.style]="textStyle('Warren Street')" x="1148.0" y="608.0">WRR</text>
<text [attr.style]="textStyle('Warwick Avenue')" x="831.0" y="790.0">WKA</text>
<text [attr.style]="textStyle('Waterloo')" x="1347.0" y="941.0">WLO</text>
<text [attr.style]="textStyle('Watford')" x="423.0" y="264.0">WAF</text>
<text [attr.style]="textStyle('Wembley Central')" x="595.0" y="613.0">WYC</text>
<text [attr.style]="textStyle('Wembley Park')" x="656.0" y="486.0">WYP</text>
<text [attr.style]="textStyle('West Acton')" x="418.0" y="904.0">WTA</text>
<text [attr.style]="textStyle('West Brompton')" x="816.5" y="1124.0">WBN</text>
<text [attr.style]="textStyle('West Finchley')" x="954.0" y="267.5">WFN</text>
<text [attr.style]="textStyle('West Ham')" x="2043.0" y="654.0">WHM</text>
<text [attr.style]="textStyle('West Hampstead')" x="914.0" y="570.0">WHP</text>
<text [attr.style]="textStyle('West Harrow')" x="375.0" y="515.0">WHW</text>
<text [attr.style]="textStyle('West Kensington')" x="780.0" y="1090.4">WKN</text>
<text [attr.style]="textStyle('West Ruislip')" x="142.0" y="451.5">WRP</text>
<text [attr.style]="textStyle('Westbourne Park')" x="732.5" y="823.5">WSP</text>
<text [attr.style]="textStyle('Westminster')" x="1243.0" y="958.0">WSM</text>
<text [attr.style]="textStyle('White City')" x="624.0" y="941.0">WCY</text>
<text [attr.style]="textStyle('Whitechapel')" x="1716.0" y="740.0">WPL</text>
<text [attr.style]="textStyle('Willesden Green')" x="798.0" y="530.0">WIG</text>
<text [attr.style]="textStyle('Willesden Junction')" x="683.0" y="670.5">WJN</text>
<text [attr.style]="textStyle('Wimbledon Park')" x="908.0" y="1304.0">WIP</text>
<text [attr.style]="textStyle('Wimbledon')" x="927.0" y="1332.0">WIM</text>
<text [attr.style]="textStyle('Wood Green')" x="1296.0" y="266.0">WOG</text>
<text [attr.style]="textStyle('Wood Lane')" x="648.0" y="948.0">WLA</text>
<text [attr.style]="textStyle('Woodford')" x="1914.0" y="250.0">WOF</text>
<text [attr.style]="textStyle('Woodside Park')" x="924.0" y="245.0">WOP</text>
</g>
</svg>