<div>
</div>
<div>
<button (click)="plus()">+</button>
<button (click)="minus()">-</button>
</div>
<svg height="1720" width="2500" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
<g [attr.style]="style" [attr.transform]="transform">
  <text
  [attr.style]="textStyle('Acton Town')"
  x="439.95703"
  y="918.90625"
  id="text568">ACT</text>
<text
  [attr.style]="textStyle('Aldgate East')"
  x="1656.957"
  y="665.90625"
  id="text570">ADE</text>
<text
  [attr.style]="textStyle('Aldgate')"
  x="1595.457"
  y="679.40625"
  id="text572">ALD</text>
<text
  [attr.style]="textStyle('Alperton')"
  x="375.95703"
  y="687.90625"
  id="text574">ALP</text>
<text
  [attr.style]="textStyle('Amersham')"
  x="93.957031"
  y="206.40625"
  id="text576">AMS</text>
<text
  [attr.style]="textStyle('Angel')"
  x="1421.957"
  y="538.90625"
  id="text578">AGL</text>
<text
  [attr.style]="textStyle('Archway')"
  x="1065.957"
  y="307.40625"
  id="text580">ACY</text>
<text
  [attr.style]="textStyle('Arnos Grove')"
  x="1239.957"
  y="154.90625"
  id="text582">ASG</text>
<text
  [attr.style]="textStyle('Arsenal')"
  x="1359.957"
  y="344.40625"
  id="text584">ASL</text>
<text
  [attr.style]="textStyle('Baker Street')"
  x="1056.957"
  y="665.90625"
  id="text586">BST</text>
<text
  [attr.style]="textStyle('Balham')"
  x="1164.457"
  y="1177.9062"
  id="text588">BLM</text>
<text
  [attr.style]="textStyle('Bank')"
  x="1468.957"
  y="692.90625"
  id="text590">BNK</text>
<text
  [attr.style]="textStyle('Barbican')"
  x="1447.957"
  y="614.90625"
  id="text592">BBN</text>
<text
  [attr.style]="textStyle('Barking')"
  x="2176.957"
  y="501.90625"
  id="text594">BKG</text>
<text
  [attr.style]="textStyle('Barkingside')"
  x="2126.957"
  y="227.90625"
  id="text596">BKE</text>
<text
  [attr.style]="textStyle('Barons Court')"
  x="708.95703"
  y="1024.3063"
  id="text598">BSC</text>
<text
  [attr.style]="textStyle('Bayswater')"
  x="878.95703"
  y="797.90625"
  id="text600">BWT</text>
<text
  [attr.style]="textStyle('Becontree')"
  x="2234.957"
  y="460.40625"
  id="text602">BEC</text>
<text
  [attr.style]="textStyle('Belsize Park')"
  x="1013.957"
  y="435.90625"
  id="text604">BZP</text>
<text
  [attr.style]="textStyle('Bermondsey')"
  x="1593.957"
  y="829.90625"
  id="text606">BMY</text>
<text
  [attr.style]="textStyle('Bethnal Green')"
  x="1658.957"
  y="572.90625"
  id="text608">BLG</text>
<text
  [attr.style]="textStyle('Blackfriars')"
  x="1365.957"
  y="767.90625"
  id="text610">BKF</text>
<text
  [attr.style]="textStyle('Blackhorse Road')"
  x="1605.957"
  y="225.90625"
  id="text612">BLR</text>
<text
  [attr.style]="textStyle('Bond Street')"
  x="1098.957"
  y="744.90625"
  id="text614">BND</text>
<text
  [attr.style]="textStyle('Borough')"
  x="1494.957"
  y="867.90625"
  id="text616">BOR</text>
<text
  [attr.style]="textStyle('Boston Manor')"
  x="303.95703"
  y="964.40625"
  id="text618">BOS</text>
<text
  [attr.style]="textStyle('Bounds Green')"
  x="1269.957"
  y="177.40625"
  id="text620">BDS</text>
<text
  [attr.style]="textStyle('Bow Road')"
  x="1896.957"
  y="586.90625"
  id="text622">BWR</text>
<text
  [attr.style]="textStyle('Brent Cross')"
  x="841.95703"
  y="345.90625"
  id="text624">BTX</text>
<text
  [attr.style]="textStyle('Brixton')"
  x="1320.957"
  y="1095.9062"
  id="text626">BXN</text>
<text
  [attr.style]="textStyle('Bromley-by-Bow')"
  x="1966.957"
  y="591.40625"
  id="text628">BBB</text>
<text
  [attr.style]="textStyle('Buckhurst Hill')"
  x="1917.957"
  y="153.90625"
  id="text630">BKH</text>
<text
  [attr.style]="textStyle('Burnt Oak')"
  x="751.95703"
  y="278.40625"
  id="text632">BTK</text>
<text
  [attr.style]="textStyle('Caledonian Road')"
  x="1305.957"
  y="415.90625"
  id="text634">CAR</text>
<text
  [attr.style]="textStyle('Camden Town')"
  x="1183.957"
  y="435.90625"
  id="text636">CTN</text>
<text
  [attr.style]="textStyle('Canada Water')"
  x="1697.957"
  y="826.90625"
  id="text638">CWR</text>
<text
  [attr.style]="textStyle('Canary Wharf')"
  x="1904.957"
  y="797.90625"
  id="text640">CYF</text>
<text
  [attr.style]="textStyle('Canning Town')"
  x="2049.957"
  y="693.90625"
  id="text642">CGT</text>
<text
  [attr.style]="textStyle('Cannon Street')"
  x="1429.957"
  y="705.90625"
  id="text644">CST</text>
<text
  [attr.style]="textStyle('Canons Park')"
  x="666.95703"
  y="329.90625"
  id="text646">CPK</text>
<text
  [attr.style]="textStyle('940GZZLUCAL')"
  x="135.45703"
  y="237.90625"
  id="text648">CAL</text>
<text
  [attr.style]="textStyle('Chalk Farm')"
  x="1093.957"
  y="435.90625"
  id="text650">CFM</text>
<text
  [attr.style]="textStyle('Chancery Lane')"
  x="1333.957"
  y="672.90625"
  id="text652">CHL</text>
<text
  [attr.style]="textStyle('Charing Cross')"
  x="1280.957"
  y="814.90625"
  id="text654">CHX</text>
<text
  [attr.style]="textStyle('Chesham')"
  x="139.95703"
  y="175.90625"
  id="text656">CSM</text>
<text
  [attr.style]="textStyle('Chigwell')"
  x="2029.957"
  y="130.90625"
  id="text658">CWL</text>
<text
  [attr.style]="textStyle('Chiswick Park')"
  x="468.95703"
  y="947.90625"
  id="text660">CWP</text>
<text
  [attr.style]="textStyle('Chorleywood')"
  x="165.45703"
  y="260.40625"
  id="text662">CYD</text>
<text
  [attr.style]="textStyle('Clapham Common')"
  x="1224.457"
  y="1132.9062"
  id="text664">CPC</text>
<text
  [attr.style]="textStyle('Clapham North')"
  x="1248.457"
  y="1114.9062"
  id="text666">CPN</text>
<text
  [attr.style]="textStyle('Clapham South')"
  x="1194.457"
  y="1155.4062"
  id="text668">CPS</text>
<text
  [attr.style]="textStyle('Cockfosters')"
  x="1149.957"
  y="87.40625"
  id="text670">CKS</text>
<text
  [attr.style]="textStyle('Colindale')"
  x="781.95703"
  y="300.90625"
  id="text672">CND</text>
<text
  [attr.style]="textStyle('Colliers Wood')"
  x="1074.457"
  y="1245.4062"
  id="text674">CSD</text>
<text
  [attr.style]="textStyle('Croxley')"
  x="237.95703"
  y="267.90625"
  id="text676">CXY</text>
<text
  [attr.style]="textStyle('Dagenham East')"
  x="2294.957"
  y="415.40625"
  id="text678">DGE</text>
<text
  [attr.style]="textStyle('Dagenham Heathway')"
  x="2264.957"
  y="437.90625"
  id="text680">DGY</text>
<text
  [attr.style]="textStyle('Debden')"
  x="1917.957"
  y="93.90625"
  id="text682">DBN</text>
<text
  [attr.style]="textStyle('Dollis Hill')"
  x="744.95703"
  y="463.90625"
  id="text684">DOH</text>
<text
  [attr.style]="textStyle('Ealing Broadway')"
  x="343.95703"
  y="829.90625"
  id="text686">EBY</text>
<text
  [attr.style]="textStyle('Ealing Common')"
  x="398.95703"
  y="886.90625"
  id="text688">ECM</text>
<text
  [attr.style]="textStyle('Earl\'s Court')"
  x="874.95703"
  y="1024.3063"
  id="text690">ECT</text>
<text
  [attr.style]="textStyle('East Acton')"
  x="583.95703"
  y="831.80627"
  id="text692">EAN</text>
<text
  [attr.style]="textStyle('East Finchley')"
  x="1027.957"
  y="253.90625"
  id="text694">EFY</text>
<text
  [attr.style]="textStyle('East Ham')"
  x="2144.957"
  y="521.90625"
  id="text696">EHM</text>
<text
  [attr.style]="textStyle('East Putney')"
  x="875.95703"
  y="1189.9062"
  id="text698">EPY</text>
<text
  [attr.style]="textStyle('Eastcote')"
  x="263.95703"
  y="453.90625"
  id="text700">EAE</text>
<text
  [attr.style]="textStyle('940GZZLUERB')"
  x="964.95703"
  y="473.90625"
  id="text702">ERB</text>
<text
  [attr.style]="textStyle('940GZZLUERC')"
  x="954.95703"
  y="483.90625"
  id="text704">ERC</text>
<text
  [attr.style]="textStyle('Edgware')"
  x="721.95703"
  y="255.90625"
  id="text706">EGW</text>
<text
  [attr.style]="textStyle('940GZZLUEAC')"
  x="1493.957"
  y="905.90625"
  id="text708">EAC</text>
<text
  [attr.style]="textStyle('Elm Park')"
  x="2324.957"
  y="392.90625"
  id="text710">EPK</text>
<text
  [attr.style]="textStyle('Embankment')"
  x="1285.957"
  y="832.90625"
  id="text712">EMB</text>
<text
  [attr.style]="textStyle('Epping')"
  x="1917.957"
  y="33.90625"
  id="text714">EPG</text>
<text
  [attr.style]="textStyle('Euston Square')"
  x="1214.957"
  y="554.90625"
  id="text716">ESQ</text>
<text
  [attr.style]="textStyle('Euston')"
  x="1218.957"
  y="499.90625"
  id="text718">EUS</text>
<text
  [attr.style]="textStyle('Fairlop')"
  x="2126.957"
  y="203.90625"
  id="text720">FLP</text>
<text
  [attr.style]="textStyle('Farringdon')"
  x="1379.957"
  y="630.90625"
  id="text722">FCN</text>
<text
  [attr.style]="textStyle('Finchley Central')"
  x="997.95697"
  y="231.40625"
  id="text724">FYC</text>
<text
  [attr.style]="textStyle('Finchley Road')"
  x="960.95703"
  y="505.90625"
  id="text726">FYR</text>
<text
  [attr.style]="textStyle('Finsbury Park')"
  x="1378.957"
  y="320.90625"
  id="text728">FPK</text>
<text
  [attr.style]="textStyle('Fulham Broadway')"
  x="822.95703"
  y="1097.9062"
  id="text730">FBY</text>
<text
  [attr.style]="textStyle('Gants Hill')"
  x="2034.957"
  y="274.90625"
  id="text732">GTH</text>
<text
  [attr.style]="textStyle('Gloucester Road')"
  x="1024.2571"
  y="1021.9062"
  id="text734">GTR</text>
<text
  [attr.style]="textStyle('Golders Green')"
  x="871.95703"
  y="368.40625"
  id="text736">GGN</text>
<text
  [attr.style]="textStyle('Goldhawk Road')"
  x="655.45703"
  y="942.80627"
  id="text738">GHK</text>
<text
  [attr.style]="textStyle('Goodge Street')"
  x="1178.957"
  y="587.90625"
  id="text740">GDG</text>
<text
  [attr.style]="textStyle('Grange Hill')"
  x="2074.957"
  y="130.90625"
  id="text742">GGH</text>
<text
  [attr.style]="textStyle('Great Portland Street')"
  x="1104.957"
  y="580.90625"
  id="text744">GPS</text>
<text
  [attr.style]="textStyle('Green Park')"
  x="1145.957"
  y="807.90625"
  id="text746">GPK</text>
<text
  [attr.style]="textStyle('Greenford')"
  x="217.95703"
  y="655.80627"
  id="text748">GFD</text>
<text
  [attr.style]="textStyle('Gunnersbury')"
  x="442.95703"
  y="965.90625"
  id="text750">GBY</text>
<text
  [attr.style]="textStyle('Hainault')"
  x="2126.957"
  y="179.90625"
  id="text752">HLT</text>
<text
  [attr.style]="textStyle('940GZZLUHSC')"
  x="650.95703"
  y="780.90625"
  id="text754">HSC</text>
<text
  [attr.style]="textStyle('940GZZLUHSD')"
  x="663.95703"
  y="1024.3063"
  id="text756">HSD</text>
<text
  [attr.style]="textStyle('Hampstead')"
  x="901.95703"
  y="390.90625"
  id="text758">HTD</text>
<text
  [attr.style]="textStyle('Hanger Lane')"
  x="363.95703"
  y="758.30627"
  id="text760">HGR</text>
<text
  [attr.style]="textStyle('Harlesden')"
  x="652.95703"
  y="587.40625"
  id="text762">HSN</text>
<text
  [attr.style]="textStyle('940GZZLUHAW')"
  x="547.45703"
  y="373.90625"
  id="text764">HAW</text>
<text
  [attr.style]="textStyle('Harrow-on-the-Hill')"
  x="473.95703"
  y="448.90625"
  id="text766">HOH</text>
<text
  [attr.style]="textStyle('Hatton Cross')"
  x="173.95703"
  y="1093.9062"
  id="text768">HNX</text>
<text
  [attr.style]="textStyle('Heathrow Terminal 4')"
  x="118.95703"
  y="1136.9062"
  id="text770">HR4</text>
<text
  [attr.style]="textStyle('Heathrow Terminal 5')"
  x="33.957031"
  y="1121.4062"
  id="text772">HR5</text>
<text
  [attr.style]="textStyle('940GZZLUHRC')"
  x="100"
  y="1100"
  id="text774">HRC</text>
<text
  [attr.style]="textStyle('Hendon Central')"
  x="811.95703"
  y="323.40625"
  id="text776">HCL</text>
<text
  [attr.style]="textStyle('High Barnet')"
  x="867.95703"
  y="133.90625"
  id="text778">HBT</text>
<text
  [attr.style]="textStyle('High Street Kensington')"
  x="921.95703"
  y="927.40625"
  id="text780">HSK</text>
<text
  [attr.style]="textStyle('940GZZLUHAI')"
  x="1429.957"
  y="455.90625"
  id="text782">HAI</text>
<text
  [attr.style]="textStyle('Highgate')"
  x="1057.957"
  y="276.40625"
  id="text784">HGT</text>
<text
  [attr.style]="textStyle('Hillingdon')"
  x="63.957031"
  y="414.90625"
  id="text786">HGD</text>
<text
  [attr.style]="textStyle('Holborn')"
  x="1287.957"
  y="647.90625"
  id="text788">HBN</text>
<text
  [attr.style]="textStyle('Holland Park')"
  x="809.95703"
  y="878.90625"
  id="text790">HPK</text>
<text
  [attr.style]="textStyle('Holloway Road')"
  x="1329.957"
  y="366.90625"
  id="text792">HWY</text>
<text
  [attr.style]="textStyle('Hornchurch')"
  x="2334.957"
  y="353.40625"
  id="text794">HCH</text>
<text
  [attr.style]="textStyle('Hounslow Central')"
  x="233.95703"
  y="1048.9062"
  id="text796">HWC</text>
<text
  [attr.style]="textStyle('Hounslow East')"
  x="243.95703"
  y="1009.4062"
  id="text798">HWE</text>
<text
  [attr.style]="textStyle('Hounslow West')"
  x="203.95703"
  y="1071.4062"
  id="text800">HWT</text>
<text
  [attr.style]="textStyle('Hyde Park Corner')"
  x="1106.557"
  y="857.90625"
  id="text802">HPC</text>
<text
  [attr.style]="textStyle('Ickenham')"
  x="103.95703"
  y="453.90625"
  id="text804">ICK</text>
<text
  [attr.style]="textStyle('Kennington')"
  x="1398.457"
  y="1002.4062"
  id="text806">KNG</text>
<text
  [attr.style]="textStyle('Kensal Green')"
  x="718.95703"
  y="633.90625"
  id="text808">KSL</text>
<text
  [attr.style]="textStyle('Kensington (Olympia)')"
  x="821.95703"
  y="943.90625"
  id="text810">KOY</text>
<text
  [attr.style]="textStyle('Kentish Town')"
  x="1143.957"
  y="347.90625"
  id="text812">KSH</text>
<text
  [attr.style]="textStyle('Kenton')"
  x="547.45703"
  y="411.90625"
  id="text814">KEN</text>
<text
  [attr.style]="textStyle('Kilburn Park')"
  x="782.95703"
  y="684.90625"
  id="text816">KPK</text>
<text
  [attr.style]="textStyle('King\'s Cross St. Pancras')"
  x="1298.957"
  y="486.90625"
  id="text818">KSX</text>
<text
  [attr.style]="textStyle('Kingsbury')"
  x="666.95703"
  y="389.90625"
  id="text820">KBY</text>
<text
  [attr.style]="textStyle('Knightsbridge')"
  x="1106.557"
  y="903.90625"
  id="text822">KNB</text>
<text
  [attr.style]="textStyle('Ladbroke Grove')"
  x="703.45703"
  y="818.40625"
  id="text824">LAD</text>
<text
  [attr.style]="textStyle('Lambeth North')"
  x="1423.957"
  y="922.90625"
  id="text826">LBN</text>
<text
  [attr.style]="textStyle('Lancaster Gate')"
  x="989.95697"
  y="807.40625"
  id="text828">LGT</text>
<text
  [attr.style]="textStyle('Latimer Road')"
  x="646.45703"
  y="809.90625"
  id="text830">LRD</text>
<text
  [attr.style]="textStyle('Leicester Square')"
  x="1272.957"
  y="732.90625"
  id="text832">LSQ</text>
<text
  [attr.style]="textStyle('Leyton')"
  x="1940.957"
  y="360.40625"
  id="text834">LYN</text>
<text
  [attr.style]="textStyle('Leytonstone')"
  x="1938.957"
  y="297.90625"
  id="text836">LYS</text>
<text
  [attr.style]="textStyle('Liverpool Street')"
  x="1567.957"
  y="589.90625"
  id="text838">LVT</text>
<text
  [attr.style]="textStyle('London Bridge')"
  x="1488.957"
  y="826.90625"
  id="text840">LNB</text>
<text
  [attr.style]="textStyle('Loughton')"
  x="1917.957"
  y="123.90625"
  id="text842">LGN</text>
<text
  [attr.style]="textStyle('Maida Vale')"
  x="808.95703"
  y="704.40625"
  id="text844">MVL</text>
<text
  [attr.style]="textStyle('Manor House')"
  x="1374.457"
  y="297.90625"
  id="text846">MRH</text>
<text
  [attr.style]="textStyle('Mansion House')"
  x="1405.957"
  y="735.90625"
  id="text848">MSH</text>
<text
  [attr.style]="textStyle('Marble Arch')"
  x="1041.957"
  y="781.40625"
  id="text850">MBA</text>
<text
  [attr.style]="textStyle('Marylebone')"
  x="994.95697"
  y="651.40625"
  id="text852">MYB</text>
<text
  [attr.style]="textStyle('Mile End')"
  x="1819.957"
  y="597.40625"
  id="text854">MED</text>
<text
  [attr.style]="textStyle('Mill Hill East')"
  x="916.95703"
  y="244.90625"
  id="text856">MHL</text>
<text
  [attr.style]="textStyle('Monument')"
  x="1462.957"
  y="739.90625"
  id="text858">MMT</text>
<text
  [attr.style]="textStyle('Moor Park')"
  x="252.95703"
  y="293.90625"
  id="text860">MPK</text>
<text
  [attr.style]="textStyle('Moorgate')"
  x="1487.957"
  y="620.90625"
  id="text862">MGT</text>
<text
  [attr.style]="textStyle('Morden')"
  x="994.45697"
  y="1283.4062"
  id="text864">MDN</text>
<text
  [attr.style]="textStyle('Mornington Crescent')"
  x="1216.957"
  y="462.90625"
  id="text866">MTC</text>
<text
  [attr.style]="textStyle('Neasden')"
  x="684.95703"
  y="463.90625"
  id="text868">NDN</text>
<text
  [attr.style]="textStyle('Newbury Park')"
  x="2079.957"
  y="227.90625"
  id="text870">NBP</text>
<text
  [attr.style]="textStyle('North Acton')"
  x="494.95703"
  y="815.90625"
  id="text872">NAN</text>
<text
  [attr.style]="textStyle('North Ealing')"
  x="375.95703"
  y="807.90625"
  id="text874">NEN</text>
<text
  [attr.style]="textStyle('North Greenwich')"
  x="2003.957"
  y="802.90625"
  id="text876">NGW</text>
<text
  [attr.style]="textStyle('North Harrow')"
  x="372.95703"
  y="383.90625"
  id="text878">NHA</text>
<text
  [attr.style]="textStyle('North Wembley')"
  x="568.95703"
  y="524.40625"
  id="text880">NWY</text>
<text
  [attr.style]="textStyle('Northfields')"
  x="333.95703"
  y="941.90625"
  id="text882">NFD</text>
<text
  [attr.style]="textStyle('Northolt')"
  x="151.95703"
  y="606.30627"
  id="text884">NHT</text>
<text
  [attr.style]="textStyle('Northwick Park')"
  x="525.45703"
  y="448.90625"
  id="text886">NKP</text>
<text
  [attr.style]="textStyle('Northwood Hills')"
  x="312.95703"
  y="338.90625"
  id="text888">NWH</text>
<text
  [attr.style]="textStyle('Northwood')"
  x="282.95703"
  y="316.40625"
  id="text890">NOW</text>
<text
  [attr.style]="textStyle('Notting Hill Gate')"
  x="872.95703"
  y="838.40625"
  id="text892">NHG</text>
<text
  [attr.style]="textStyle('Oakwood')"
  x="1179.957"
  y="109.90625"
  id="text894">OAK</text>
<text
  [attr.style]="textStyle('Old Street')"
  x="1458.957"
  y="562.90625"
  id="text896">ODS</text>
<text
  [attr.style]="textStyle('Osterley')"
  x="273.95703"
  y="986.90619"
  id="text898">OSY</text>
<text
  [attr.style]="textStyle('Oval')"
  x="1350.457"
  y="1038.4062"
  id="text900">OVL</text>
<text
  [attr.style]="textStyle('Oxford Circus')"
  x="1167.957"
  y="711.90625"
  id="text902">OXC</text>
<text
  [attr.style]="textStyle('Paddington')"
  x="953.95703"
  y="694.90625"
  id="text904">PAC</text>
<text
  [attr.style]="textStyle('Park Royal')"
  x="375.95703"
  y="780.90625"
  id="text906">PKR</text>
<text
  [attr.style]="textStyle('Parsons Green')"
  x="833.95703"
  y="1133.9062"
  id="text908">PSG</text>
<text
  [attr.style]="textStyle('Perivale')"
  x="297.95703"
  y="715.80627"
  id="text910">PVL</text>
<text
  [attr.style]="textStyle('Piccadilly Circus')"
  x="1216.957"
  y="774.90625"
  id="text912">PCC</text>
<text
  [attr.style]="textStyle('Pimlico')"
  x="1219.957"
  y="955.40625"
  id="text914">PCO</text>
<text
  [attr.style]="textStyle('Pinner')"
  x="342.95703"
  y="361.40625"
  id="text916">PNR</text>
<text
  [attr.style]="textStyle('Plaistow')"
  x="2084.957"
  y="572.90625"
  id="text918">PLW</text>
<text
  [attr.style]="textStyle('Preston Road')"
  x="593.95703"
  y="448.90625"
  id="text920">PRD</text>
<text
  [attr.style]="textStyle('Putney Bridge')"
  x="854.95703"
  y="1161.9062"
  id="text922">PYB</text>
<text
  [attr.style]="textStyle('Queen\'s Park')"
  x="757.95703"
  y="664.90625"
  id="text924">QPS</text>
<text
  [attr.style]="textStyle('Queensbury')"
  x="666.95703"
  y="359.90625"
  id="text926">QBY</text>
<text
  [attr.style]="textStyle('Queensway')"
  x="933.95703"
  y="878.80627"
  id="text928">QWY</text>
<text
  [attr.style]="textStyle('Ravenscourt Park')"
  x="590.95703"
  y="1024.3063"
  id="text930">RVP</text>
<text
  [attr.style]="textStyle('Rayners Lane')"
  x="303.95703"
  y="404.40625"
  id="text932">RYL</text>
<text
  [attr.style]="textStyle('Redbridge')"
  x="1999.957"
  y="240.90625"
  id="text934">RBG</text>
<text
  [attr.style]="textStyle('Regent\'s Park')"
  x="1091.957"
  y="639.90625"
  id="text936">RGP</text>
<text
  [attr.style]="textStyle('Richmond')"
  x="374.95703"
  y="1051.8063"
  id="text938">RMD</text>
<text
  [attr.style]="textStyle('Rickmansworth')"
  x="195.45703"
  y="282.90625"
  id="text940">RKW</text>
<text
  [attr.style]="textStyle('Royal Oak')"
  x="803.95703"
  y="774.90625"
  id="text942">RYO</text>
<text
  [attr.style]="textStyle('Ruislip Gardens')"
  x="133.95703"
  y="481.90625"
  id="text944">RSG</text>
<text
  [attr.style]="textStyle('Ruislip Manor')"
  x="223.95703"
  y="401.90625"
  id="text946">RSM</text>
<text
  [attr.style]="textStyle('Ruislip')"
  x="183.95703"
  y="453.90625"
  id="text948">RSP</text>
<text
  [attr.style]="textStyle('Russell Square')"
  x="1305.957"
  y="582.90625"
  id="text950">RSQ</text>
<text
  [attr.style]="textStyle('Seven Sisters')"
  x="1420.957"
  y="235.90625"
  id="text952">SVS</text>
<text
  [attr.style]="textStyle('Shepherd\'s Bush Market')"
  x="655.45703"
  y="905.80627"
  id="text954">SBM</text>
<text
  [attr.style]="textStyle('Shepherd\'s Bush (Central)')"
  x="703.95703"
  y="874.90625"
  id="text956">SBC</text>
<text
  [attr.style]="textStyle('Sloane Square')"
  x="1141.957"
  y="972.90625"
  id="text958">SSQ</text>
<text
  [attr.style]="textStyle('Snaresbrook')"
  x="1917.957"
  y="243.90625"
  id="text960">SNB</text>
<text
  [attr.style]="textStyle('South Ealing')"
  x="363.95703"
  y="919.40625"
  id="text962">SEA</text>
<text
  [attr.style]="textStyle('South Harrow')"
  x="375.95703"
  y="507.90625"
  id="text964">SHH</text>
<text
  [attr.style]="textStyle('South Kensington')"
  x="1088.957"
  y="950.90625"
  id="text966">SKS</text>
<text
  [attr.style]="textStyle('South Kenton')"
  x="540.95703"
  y="503.40625"
  id="text968">SKT</text>
<text
  [attr.style]="textStyle('South Ruislip')"
  x="133.95703"
  y="531.90625"
  id="text970">SRP</text>
<text
  [attr.style]="textStyle('South Wimbledon')"
  x="1044.457"
  y="1269.4062"
  id="text972">SWN</text>
<text
  [attr.style]="textStyle('South Woodford')"
  x="1917.957"
  y="213.90625"
  id="text974">SWF</text>
<text
  [attr.style]="textStyle('Southfields')"
  x="893.95703"
  y="1213.9062"
  id="text976">SFS</text>
<text
  [attr.style]="textStyle('Southgate')"
  x="1209.957"
  y="132.40625"
  id="text978">SGT</text>
<text
  [attr.style]="textStyle('Southwark')"
  x="1393.957"
  y="845.90625"
  id="text980">SWK</text>
<text
  [attr.style]="textStyle('St. James\'s Park')"
  x="1223.957"
  y="909.90625"
  id="text982">SJP</text>
<text
  [attr.style]="textStyle('St. John\'s Wood')"
  x="988.95697"
  y="607.40625"
  id="text984">SJW</text>
<text
  [attr.style]="textStyle('St. Paul\'s')"
  x="1403.957"
  y="677.90625"
  id="text986">SPU</text>
<text
  [attr.style]="textStyle('Stamford Brook')"
  x="538.95703"
  y="993.40619"
  id="text988">SFB</text>
<text
  [attr.style]="textStyle('Stanmore')"
  x="666.95703"
  y="299.90625"
  id="text990">STM</text>
<text
  [attr.style]="textStyle('Stepney Green')"
  x="1769.457"
  y="634.40625"
  id="text992">SGN</text>
<text
  [attr.style]="textStyle('Stockwell')"
  x="1299.957"
  y="1070.9062"
  id="text994">SKW</text>
<text
  [attr.style]="textStyle('Stonebridge Park')"
  x="624.95703"
  y="566.40625"
  id="text996">SGP</text>
<text
  [attr.style]="textStyle('Stratford')"
  x="1965.957"
  y="455.90625"
  id="text998">STD</text>
<text
  [attr.style]="textStyle('Sudbury Hill')"
  x="375.95703"
  y="567.90625"
  id="text1000">SUH</text>
<text
  [attr.style]="textStyle('Sudbury Town')"
  x="375.95703"
  y="627.90625"
  id="text1002">SUT</text>
<text
  [attr.style]="textStyle('Swiss Cottage')"
  x="951.45703"
  y="557.40625"
  id="text1004">SWC</text>
<text
  [attr.style]="textStyle('Temple')"
  x="1339.957"
  y="785.90625"
  id="text1006">TMP</text>
<text
  [attr.style]="textStyle('Theydon Bois')"
  x="1917.957"
  y="63.90625"
  id="text1008">THB</text>
<text
  [attr.style]="textStyle('Tooting Bec')"
  x="1134.457"
  y="1200.4062"
  id="text1010">TBC</text>
<text
  [attr.style]="textStyle('Tooting Broadway')"
  x="1104.457"
  y="1222.9062"
  id="text1012">TBY</text>
<text
  [attr.style]="textStyle('Tottenham Court Road')"
  x="1190.957"
  y="606.90625"
  id="text1014">TCR</text>
<text
  [attr.style]="textStyle('Tottenham Hale')"
  x="1533.957"
  y="266.90625"
  id="text1016">TMH</text>
<text
  [attr.style]="textStyle('940GZZLUTAW')"
  x="897.95703"
  y="156.40625"
  id="text1018">TAW</text>
<text
  [attr.style]="textStyle('Tower Hill')"
  x="1566.957"
  y="739.90625"
  id="text1020">TWH</text>
<text
  [attr.style]="textStyle('Tufnell Park')"
  x="1119.957"
  y="325.40625"
  id="text1022">TFP</text>
<text
  [attr.style]="textStyle('Turnham Green')"
  x="543.95703"
  y="952.40625"
  id="text1024">TNG</text>
<text
  [attr.style]="textStyle('Turnpike Lane')"
  x="1329.957"
  y="222.40625"
  id="text1026">TPN</text>
<text
  [attr.style]="textStyle('Upminster Bridge')"
  x="2364.957"
  y="330.90625"
  id="text1028">UPB</text>
<text
  [attr.style]="textStyle('Upminster')"
  x="2404.957"
  y="299.90625"
  id="text1030">UPM</text>
<text
  [attr.style]="textStyle('Upney')"
  x="2204.957"
  y="482.90625"
  id="text1032">UPY</text>
<text
  [attr.style]="textStyle('Upton Park')"
  x="2114.957"
  y="550.40625"
  id="text1034">UPK</text>
<text
  [attr.style]="textStyle('Uxbridge')"
  x="23.957031"
  y="453.90625"
  id="text1036">UXB</text>
<text
  [attr.style]="textStyle('Vauxhall')"
  x="1249.957"
  y="995.40619"
  id="text1038">VXL</text>
<text
  [attr.style]="textStyle('Victoria')"
  x="1191.957"
  y="930.90625"
  id="text1040">VIC</text>
<text
  [attr.style]="textStyle('Walthamstow Central')"
  x="1697.957"
  y="250.90625"
  id="text1042">WWL</text>
<text
  [attr.style]="textStyle('Wanstead')"
  x="1943.957"
  y="274.90625"
  id="text1044">WSD</text>
<text
  [attr.style]="textStyle('Warren Street')"
  x="1151.957"
  y="541.90625"
  id="text1046">WRR</text>
<text
  [attr.style]="textStyle('Warwick Avenue')"
  x="834.95703"
  y="723.90625"
  id="text1048">WKA</text>
<text
  [attr.style]="textStyle('Waterloo')"
  x="1350.957"
  y="874.90625"
  id="text1050">WLO</text>
<text
  [attr.style]="textStyle('Watford')"
  x="426.95703"
  y="197.90625"
  id="text1052">WAF</text>
<text
  [attr.style]="textStyle('Wembley Central')"
  x="598.95703"
  y="546.90625"
  id="text1054">WYC</text>
<text
  [attr.style]="textStyle('Wembley Park')"
  x="659.95703"
  y="419.90625"
  id="text1056">WYP</text>
<text
  [attr.style]="textStyle('West Acton')"
  x="421.95703"
  y="837.90625"
  id="text1058">WTA</text>
<text
  [attr.style]="textStyle('West Brompton')"
  x="820.45703"
  y="1057.9062"
  id="text1060">WBN</text>
<text
  [attr.style]="textStyle('West Finchley')"
  x="957.95703"
  y="201.40625"
  id="text1062">WFN</text>
<text
  [attr.style]="textStyle('West Ham')"
  x="2046.957"
  y="587.90625"
  id="text1064">WHM</text>
<text
  [attr.style]="textStyle('West Hampstead')"
  x="917.95703"
  y="503.90625"
  id="text1066">WHP</text>
<text
  [attr.style]="textStyle('West Harrow')"
  x="378.95703"
  y="448.90625"
  id="text1068">WHW</text>
<text
  [attr.style]="textStyle('West Kensington')"
  x="783.95703"
  y="1024.3063"
  id="text1070">WKN</text>
<text
  [attr.style]="textStyle('West Ruislip')"
  x="145.95703"
  y="385.40625"
  id="text1072">WRP</text>
<text
  [attr.style]="textStyle('Westbourne Park')"
  x="736.45703"
  y="757.40625"
  id="text1074">WSP</text>
<text
  [attr.style]="textStyle('Westminster')"
  x="1246.957"
  y="891.90625"
  id="text1076">WSM</text>
<text
  [attr.style]="textStyle('White City')"
  x="627.95703"
  y="874.90625"
  id="text1078">WCY</text>
<text
  [attr.style]="textStyle('Whitechapel')"
  x="1719.957"
  y="673.90625"
  id="text1080">WPL</text>
<text
  [attr.style]="textStyle('Willesden Green')"
  x="801.95703"
  y="463.90625"
  id="text1082">WIG</text>
<text
  [attr.style]="textStyle('Willesden Junction')"
  x="686.95703"
  y="604.40625"
  id="text1084">WJN</text>
<text
  [attr.style]="textStyle('Wimbledon Park')"
  x="911.95703"
  y="1237.9062"
  id="text1086">WIP</text>
<text
  [attr.style]="textStyle('Wimbledon')"
  x="930.95703"
  y="1265.9062"
  id="text1088">WIM</text>
<text
  [attr.style]="textStyle('Wood Green')"
  x="1299.957"
  y="199.90625"
  id="text1090">WOG</text>
<text
  [attr.style]="textStyle('Wood Lane')"
  x="651.95703"
  y="881.90625"
  id="text1092">WLA</text>
<text
  [attr.style]="textStyle('Woodford')"
  x="1917.957"
  y="183.90625"
  id="text1094">WOF</text>
<text
  [attr.style]="textStyle('Woodside Park')"
  x="927.95703"
  y="178.90625"
  id="text1096">WOP</text>
</g>
</svg>